@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ebeef3;
	font-family: 'Inter', sans-serif;
}

h5 {
	font-weight: 400;
}
